<%= form_with(model: note, local: true) do |form| %>
  <% if note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :tags %>
    <%= form.text_field :tags_text, id: :tags_text, class: 'form-control' %>
    <%= button_tag type: 'button', onclick: 'javascript:void(0);', id: 'add_tag_button' do %>
      追加
    <% end %>
    <div id="tag_candidate_area" class="tag_area">
      もしかして
    </div>
    <div id="tag_selected_area" class="tag_area">
      選択済み
      <% if note.tags.present? %>
        <% note.tags.each do |tag| %>
          <%= fields_for :tag do |t| %>
            <div class='tag_wrapper'>
              <div class="note_tag">
                <%= tag.name %>
                <%= image_tag 'common/delete_icon.png', :class => 'delete-icon' %>
              </div>
              <%= t.hidden_field '][id', id: 'tag_id', value: tag.id %>
              <%= t.hidden_field '][name', id: 'tag_name', value: tag.name %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="field form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :note_title, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :content %>
    <%= form.text_area :content, id: :note_content, class: ['form-control', 'note-content-area'] %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
