<p id="notice"><%= notice %></p>

<h1>Notes</h1>

<div class="card-deck card-box tag-card">
  <% @all_tags.each do |tag| %>
    <%= basic_card do -%>
      <%= card_header tag do -%>
        <%= tag.name %>
      <% end -%>

      <div class="list-group scroll-area">
        <% tag.notes.each do |note| %>
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="note-title mb-1 "><%= note.title %></h5>
            <small class="text-muted">
              <%= format_date note.updated_at %>
            </small>
          </div>
          <div class="note-content mb-1">
              <%= simple_format(note.content) %>
          </div>
        </a>
        <% end %>
      </div>
    <% end -%>
  <% end %>
</div>

<div class="card-deck card-box">
  <% @all_notes.each do |note| %>
    <%= basic_card do -%>
      <%= card_header note do -%>
        <%= note.title %>
      <% end -%>
      <%= card_body do -%>
        <%= simple_format(note.content) %>
      <% end -%>
    <% end -%>
  <% end %>
</div>
