<p id="notice"><%= notice %></p>

<h1>Notes</h1>


<% @notes.each do |note| %>
  <%= basic_card do -%>
    <%= card_header do -%>
      <%= note.title %>
    <% end -%>
    <%= card_body do -%>
      <%= note.content %><br />
      <%= note.user.name %>
      <%= link_to 'Show', note %>
      <%= link_to 'Edit', edit_note_path(note) %>
      <%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end -%>
  <% end -%>
<% end %>

<br>

<%= link_to 'New Note', new_note_path %>
