<p id="notice"><%= notice %></p>

<h1>Notes</h1>

<div class="card-deck card-box">
  <% @notes.each do |note| %>
    <%= basic_card do -%>
      <%= card_header note do -%>
        <%= note.title %>
      <% end -%>
      <%= card_body do -%>
        <%= simple_format(note.content) %><br />
        <%= link_to 'もっと読む', note %>
      <% end -%>
    <% end -%>
  <% end %>
</div>

<br>

<%= link_to 'New Note', new_note_path %>
