<!DOCTYPE html>
<html>
  <head>
    <title>Notes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body  data-controller="<%= controller_name %>" data-action="<%= action_name %>">
    <%= render 'shared/head_nav' %>
    <div class="main-container">
      <%= yield %>
    </div>
  </body>
</html>
